# Пример файла с ключевыми словами для поиска
# Одно ключевое слово/фраза на строку
# Пустые строки и строки начинающиеся с # игнорируются

# Email-адреса
@gmail.com
@yahoo.com
@outlook.com
@hotmail.com

# Пароли и учетные данные
password:
login:
username:
пароль:
логин:

# Персональные данные
паспорт
passport
ssn
снилс

# Платежная информация
card number
cvv
credit card
номер карты

# Добавьте свои ключевые слова ниже:
